@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.overlay{
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content:center;
    align-items: center; 
}
.loader {
    
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #545BE8;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
   
    }
    .d-none{
        display: none;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

a{
    text-decoration: none;
    color: #eee;
}
ul{
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    
}
.container{
    width: calc(100% - 120px);
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header{
    text-transform: capitalize;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: black;
    color: white;
    box-shadow: 0px 1.7px 8px 0px;
    padding: 10px 0;
}
header nav ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
header .auth a , .home .register {
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
   
}
header .auth {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.home .register{
    display: inline;
}
header .auth .login ,header .auth .register:hover ,.home .register:hover{
    border: 2px solid #545BE8;
    color: #545BE8;
    background-color: transparent;
    padding:5.35px 20.18px 5.35px 20.18px;
    font-weight: bolder;
}
header .auth .register,.home .register, header .auth .login:hover{
    color: #eee;
    background-color: #545BE8;
    padding:5.35px 20.18px 5.35px 20.18px;
}
.home , .about-us {
   padding: 20px 0;

}
.home .row , .about-us .row{
    gap: 30px;
}
.home .home-info , .about-us .about-info{ 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
    width: calc((100% - 30px)/2);
    
}

.home .home-info span{
    color: #545BE8;

}

.home  .play span{
    color: #141E32;

}
.play{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.bottum{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.play svg{
    position: relative;
    background-color: #F0C932;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
}

.home .home-info p{
    color: #969696;

}
.home .home-image ,.about-us .about-image{ 

width: calc((100% - 60px)/2);
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}
.home .home-image img , .about-us .about-image img{ 

width: 400px;
height: 400px;
border-radius: 50%;
background-color: #F0C932;

}
.about-us{
    font-size: 1.2rem;
    padding: 60px 0;
    background: linear-gradient(to bottom, #545BE8 0%, #272DB0 100%);
     display: flex;
     justify-content: center;
     align-items: center;
    
}
.about-us span:first-child{
    color:  #F0C932;
    font-weight: bolder;
}
.about-us span:last-child{
    color:  #DDDDDD;
    
}
.statistics{
    display: flex;
    align-items: center;

    
}
.stat-item{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
    
   
}
.about-us h2{
    color: #fff;
}
.about-us  p{
    color: #DDDDDD;
}

.course_description a:hover{
   background-color: #eee;
   border: 2px solid #545BE8;
   color: #545BE8;
   font-weight: bold;
}
.courses{
    font-size: small;
    background-color: white;
    padding: 40px 0;
    gap: 30px;
}
.courses .row{
    gap: 30px;
    align-items: stretch;
}

.courses .course_item{
    width: calc((100% - 30px)/2);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.courses img{
   width: 100%;
   aspect-ratio: 135/99;
     object-fit: contain;
    filter: brightness(50%);
    display: flex;
    flex-wrap: wrap;
    
   
}
.courses  .course{
    width: calc((100% - 30px)/2);
    box-shadow: 5px 5px 8px 10px rgba(0, 0, 0, 0.1);

   
}
.course_card{
    position: relative;
}
.courses .course_info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size:10px ;

}
.course_details{
  padding: 5px;
  font-size: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.course_details .row:last-of-type{
    justify-content: flex-start;
    gap: 10px;
    color: #969696;
 }
.courses .course_info span:first-of-type{
    background-color: #545BE8;
    
    text-transform: capitalize;
    align-self:flex-start;
    padding: 10px;
}
.courses .course_info span:last-of-type{
    align-self: flex-end;
    text-transform: uppercase;
  
}
.course_details h2{
    text-transform: uppercase;
}
.courses .Views{
    font-size: 10px;
    color: #545BE8;
}
.course_description{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: start;
    width: calc((100% - 30px)/2);
    padding: 0 30px;
    gap: 30px;
    flex-wrap: wrap;


}
.course_description p:nth-child(1){
    color: #545BE8;
    font-size: 20px;
    font-family: "Inter", sans-serif;

}
.course_description p:nth-child(3){
    color: #969696;
    font-size: 20px;
    width: 75%;
    text-align: left;

}
.course_description h2{
    font-size: 40px;
    width: 50%;
    font-family: "Inter", sans-serif;

}
.course_description a{
    background-color: #545BE8;
    border-radius: 10px;
    padding:10px 40px;
    font-family: "Inter", sans-serif;

}

.testimonials .row{
    gap: 40px;
}
.testimonials{
    padding: 60px 0;
    background-color: #fff;
}

.ratting{
    padding: 10px;
}
.testimonial{
    width: calc((100% - 50px)/2);
    padding: 20px;
    box-shadow: 0px 8.24px 8.24px 0px rgba(0, 0, 0, 0.1);
position: relative;
}
.testimonials h2{
    text-align: center;
    padding: 20px 0;
 
}
.testimonial::after{
    content: '';
    width:0;
    height:0;
    border-top:  50px solid #F4F4F4;
    border-left: 50px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.user-info{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.user-info h3{
    font-size: 14px;
}
.user-info span{
    font-size: 10px;
    color: #969696;
}
.sec-section .info p{
    color: #969696;

}
.box-item p{
    height: 100%; 
}
.user-info img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.user-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ratting{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.first-section{
    padding: 40px 0;
}
.sec-section{
    padding: 50px 0;
    background-color: #F5F5F5;
}

.box-item{
    width: calc((100% - 120px)/4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    min-height: 300px;
 
}
.sec-section  .row{
    gap: 10px;
}

.box-item:not(.sec-section .info){
    padding: 20px 10px;
    box-sizing: content-box;
    border: 2px solid #545BE8;
    background-color: #545BE8;
    color:  #DDDDDD;
    border-radius: 10px;
  
}
.box-item p:not(.sec-section .info p){
    color:  #DDDDDD;
    box-sizing: border-box;
}
.box-item h4{
    color: #fff;
}
.sec-section .box-item svg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:#DDDDDD ;
    padding: 5px;
    color: #F0C932;
    font-weight:bold;
}
.member-items{
    text-align: center;
}
.member-items{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    gap: 20px;
}
.member-items img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: #54cae8;
}
.member-item{
    padding: 40px 0 ;
    width: calc((100% - 40PX)/4);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    gap: 10px;
}

.member-item p{
    height: 100%;
}
footer {
    font-family: 'Poppins';
    background-color:#393E46;
    color: white;
    padding: 50px 0px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100; 
}
footer nav a{
    color: #F4F4F4;
} 

footer h3{
    font-size: 20px;
}
footer .row{
    gap: 40px;
}
footer .left_side , footer .right_side{
    width: calc((100% - 40px)/2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

footer p {
   
    text-transform: none;

}
footer .icon svg{
 
    width: 25px;
    height: 25px;
    border: 1px solid white;
    padding: 10px;
    box-sizing: content-box;


}
footer .icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;

}

footer .right_side{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
footer .footer_item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc((100% - 60px)/4);
}
footer .footer_item nav{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}
.navbar-scroll , .navbar-scroll a{
    background-color: #F5F5F5;
    color: #545BE8;
}
@media (max-width: 1250px) {
    .member-item{
        width: calc((100% - 40px)/2);
    }
    footer .footer_item{
        width: calc(100%);
    }
    
    
}
@media (max-width: 1450px) {
    footer .footer_item{
        width: calc((100% - 60px)/2);
    }
    
    
}

@media (max-width: 850px) {
    .courses .course {
    width: calc((100% - 30px) );
}
footer .right_side,footer .left_side{
    width: calc(100%);
    gap:20px;
    align-items: center;
}
footer .footer_item{
    width: calc((100% - 50px)/2);
}
}
@media (max-width: 650px) {
    .statistics {
        flex-direction: column;
    }
    
}
@media (max-width: 600px) {
    .courses .row {
    flex-direction: column;
    gap: 30px;
    
}
 .about-us .about-image  ,.about-us .about-info {
    width: calc(100% ) !important;
   }
    .about-us .row{
    flex-direction: column;
    }
.member-item{
    width: calc((100% - 40px));
}
.courses .course_item , .courses  .course_description {
    width: 100%;
}

}
@media (max-width: 870px) {
.home .home-image img , .about-us .about-image img { 
width: 250px;
height: 250px;
}
.sec-section  .row{
    flex-direction: column;
    gap: 30px;
}
.sec-section  .box-item{
    width: calc(100%);
}

    
}
@media (max-width: 550px) {
    .first-section .row , .sec-section  .row , .about-us .row{
    flex-direction: column;
    }
     .home .home-info , .home .home-image , .about-us .about-image  ,.about-us .about-info {
    width: calc(100% ) !important;
   }
   footer .right_side,footer .left_side{
    width: calc(100%);
    flex-direction: column;
    gap:20px;
    align-items: center;
}
footer .footer_item{
    justify-content: center;
    width: calc((100% - 50px));
}
}
